[submodule "dpdk"]
	path = dpdk
	url = git://dpdk.org/dpdk
	ignore = dirty
[submodule "lwip"]
	path = lwip
	url = git://git.savannah.nongnu.org/lwip.git
[submodule "lwip-contrib"]
	path = lwip-contrib
	url = git://git.savannah.nongnu.org/lwip/lwip-contrib.git
